//- the layout file should include everything that my templates have in common (this makes updating things across the app much easier later)
doctype html
html(lang="en")
head
  //
    Basic Page Needs
    ––––––––––––––––––––––––––––––––––––––––––––––––––
  meta(charset='utf-8')
  title Chris' Twitter Client
  meta(name='description', content='')
  meta(name='author', content='')
  //
    Mobile Specific Metas
    ––––––––––––––––––––––––––––––––––––––––––––––––––
  meta(name='viewport', content='width=device-width, initial-scale=1')
  //
    FONTS
    ––––––––––––––––––––––––––––––––––––––––––––––––––
  link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600', rel='stylesheet', type='text/css')
  //
    CSS
    ––––––––––––––––––––––––––––––––––––––––––––––––––
  link(rel='stylesheet', href='/stylesheets/global.css')
body
  include includes/header.pug
  block content
    //- bring in the content from index.pug
  
      //- include (i.e. display) the header pug file below the head file
      //- 'main' is the block where our content is placed

//- extends & includes need to go with blocks. 
//- by including the layout file in templates the css styles in layout will be applied to them.
