//- Right Column (Direct Messages)
.grid-33
  .app--section
    ul.app--message--list
      
      each val, index in messages
       - var messagesName = messages[index].sender.name + " " + "(" + messages[index].sender.screen_name + ")"
       - var messagesText = messages[index].text
       - var messagesPic = messages[index].sender.profile_image_url
       - var messagesTime = moment(moment(messages[index].created_at, 'dd MMM DD HH:mm:ss ZZ YYYY', 'en')).fromNow() //-moment has been added to Express locals allowing moment ot be used here in Pug
       
       
        li
          h3
            | Conversation with 
            a=messagesName
          ul.app--message--conversation
            li.app--message
              .app--avatar(style='background-image: url(' + messagesPic + ')')
              p.app--message--text=messagesText
              p.app--message--timestamp=messagesTime
              
