//- Right Column (Direct Messages)
.grid-33
  .app--section
    ul.app--message--list
      
      //- each val, index in messages
      //-  - var messagesName = messages[index].sender.name + " " + "(" + messages[index].sender.screen_name + ")"
      //-  - var messagesText = messages[index].text
      //-   li
      //-     h3
      //-       | Conversation with 
      //-       a=messagesName
      //-     ul.app--message--conversation
      //-       li.app--message
      //-         .app--avatar(style='background-image: url(images/f-spore.png)')
      //-           img(src='images/f-spore.png')
      //-         p.app--message--text=messagesText
      //-         p.app--message--timestamp 3 hours ago
          
