extends app.pug

block intro
  h1.namecard-prompt Let's get started
  a.namecard-submit(href='/cards') Begin!
  
  
  
//- doctype html
//- html(lang="en")
//-   head
//-     title write the browser tab title here...
//-   body
//-     h1 HOLA 
//-  
    
//- The above is basic boilerplate pug code. 
  //-This sets up the basic code for any web page. The doc type, HTML, head and body text. I've modified the title for this project.
