doctype html
html(lang="en")
  head
    title Flash Cards
    link(rel='stylesheet', href='/static/stylesheets/style.css')
      //- When expressed renders this template it sends the HTML to the browser, the browser will see the link tag and make a request to the static/stylesheets/style.css.
  body
    include includes/header.pug
    block main
      //- 'main' is the block where our content is placed

//- Because we set up the static server, the public folder's contents is at /static. Any path in the folder will automatically be available to static.
